<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description }}</p>
		<ul class="actions">
		  <li><a href="/wiki/" class="button special">WIKI</a></li>
			<li><a href="https://github.com/waterhackweek" class="button special">GITHUB</a></li>
		</ul>
		<!-- <ul class="actions"> -->
		<!-- <li><a href="https://www.jotform.com/82396990821165/" class="button special">APPLY NOW</a></li> -->
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
