<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description }}</p>
		<ul class="actions">
			 <li><a href="/wiki/" class="button special">WIKI</a></li>
            <!-- <li><a href="https://github.com/waterhackweek" class="button special">GITHUB</a></li>
            <li><a href="https://waterhackweek.github.io/schedule.html" class="button special">SCHEDULE</a></li>
            <li><a href="https://freshwater.uw.edu/2019/02/27/waterhackweek-community-mixer/" class="button special">WHW mixer</a></li>
            <li><a href="https://www.google.com/maps/place/UW+South+Campus+Center/@47.6495125,-122.3129862,17z/data=!3m1!4b1!4m5!3m4!1s0x549014ec0573d0fd:0x92c36f77d79c29d7!8m2!3d47.6495089!4d-122.3107975" class="button special">Event Location</a></li>
            <li><a href="https://www.google.com/maps/place/eScience+Institute/@47.6533665,-122.3117848,15z/data=!4m5!3m4!1s0x0:0x7c2434f079426d8c!8m2!3d47.6533665!4d-122.3117848" class="button special">Welcome Reception</a></li>
        </ul> -->
           <!-- <ul class="actions"> -->
		<li><a href="https://form.jotform.com/92246851269162/" class="button special">APPLY NOW</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
