<!-- Four -->
<section id="four" class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Event Location</h2>
        </header>
        <div id="map"></div>
        <ul class="icons mapdir">
            <li><a href="https://maps.google.com/?saddr=Current+Location&daddr=UW+South+Campus+Center,+1601+NE+Columbia Rd,+Seattle,+WA&driving" class="icon fa-car"><span class="label">Drive to Waterhackweek</span></a></li>
            <li><a href="https://maps.google.com/?saddr=Current+Location&dirflg=r&daddr=UW+South+Campus+Center,+1601+NE+Columbia Rd,+Seattle,+WA&mode=transit" class="icon fa-bus"><span class="label">Public Transit to Waterhackweek</span></a></li>
            <li><a href="https://maps.google.com/?saddr=Current+Location&dirflg=w&daddr=UW+South+Campus+Center,+1601+NE+Columbia Rd,+Seattle,+WA" class="icon fa-street-view"><span class="label">Walk to Waterhackweek</span></a></li>
            <li><a href="https://maps.google.com/?saddr=Current+Location&dirflg=b&daddr=UW+South+Campus+Center,+1601+NE+Columbia Rd,+Seattle,+WA&mode=bicycling" class="icon fa-bicycle"><span class="label">Bike to Waterhackweek</span></a></li>
        </ul>
    </div>
</section>
<script type="application/javascript">
    var map = L.map('map').setView([47.6496019, -122.3113259], 12);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([47.6496019, -122.3113259]).addTo(map)
        .bindPopup('UW South Campus Center <br/> 1601 NE Columbia Rd, Seattle <br/> WA 98195')
        .openPopup();
</script>
